@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Nunito Sans', sans-serif;
}

.appContainer {
	max-width: 1264px;
	padding: 0 1rem;
	margin: auto;
}

@media (max-width: 464px) {
	input {
		padding-top: 0.85rem !important;
		padding-bottom: 0.85rem !important;
	}
}

header {
	min-height: 60px;
}

main {
	min-height: 100vh;
	font-size: 0.95rem;
}

.spinnerDiv {
	background-color: rgba(0, 0, 0, 0.3);
}

.spinner {
	border-color: skyblue transparent skyblue transparent;
	animation: spin 1.2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.filterDiv {
	font-size: 0.9rem;
}

.countryInfo img {
	height: 8rem;
}

@media (min-width: 376px) {
	.countryInfo img {
		height: 10rem;
	}
}

@media (min-width: 465px) {
	.countryInfo img {
		height: 10.5rem;
	}
}

@media (min-width: 640px) {
	.countryInfo img {
		height: 7.25rem;
	}
}

@media (min-width: 748px) {
	.countryInfo img {
		height: 8.75rem;
	}
}

@media (min-width: 847px) {
	.countryInfo img {
		height: 6.75rem;
	}
}

@media (min-width: 960px) {
	.countryInfo img {
		height: 7.25rem;
	}
}

.country {
	transition: transform 0.2s ease-in-out;
	max-width: 368px;
}

.singleCountry button {
	transition: background-color 0.25s ease-in-out, color 0.2s ease-in-out;
	font-size: 1rem;
}

@media (max-width: 329px) {
	.singleCountry,
	.homeSection {
		padding-top: 2rem;
	}
}

.country:hover {
	transform: scale(1.03);
}

.country p {
	font-size: 0.9rem;
}

.country span {
	font-size: 0.875rem;
}
