@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Nunito Sans', sans-serif;
}

.appContainer {
	max-width: 1140px;
	padding: 0 1.5rem;
	margin: auto;
}

header {
	min-height: 60px;
}

main {
	min-height: 100vh;
	font-size: 0.95rem;
}

@media (max-width: 365px) {
	main {
		padding-top: 5rem !important;
	}
}

.spinnerDiv {
	background-color: rgba(0, 0, 0, 0.3);
}

.spinner {
	border-color: skyblue transparent skyblue transparent;
	animation: spin 1.2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.filterDiv {
	font-size: 0.9rem;
}

.countryInfo img {
	height: 8rem;
}

@media (min-width: 376px) {
	.countryInfo img {
		height: 10rem;
	}
}

@media (min-width: 465px) {
	.countryInfo img {
		height: 7.25rem;
	}
}

@media (min-width: 640px) {
	.countryInfo img {
		height: 6.25rem;
	}
}

@media (min-width: 748px) {
	.countryInfo img {
		height: 6.5rem;
	}
}

@media (min-width: 800px) {
	.countryInfo img {
		height: 7rem;
	}
}

@media (min-width: 847px) {
	.countryInfo img {
		height: 5.75rem;
	}
}

@media (min-width: 960px) {
	.countryInfo img {
		height: 6.5rem;
	}
}

@media (max-width: 464px) {
	.allCountries {
		display: grid;
		grid-template-columns: 1fr;
	}
}

.country {
	transition: transform 0.2s ease-in-out;
}

.singleCountry button {
	transition: background-color 0.25s ease-in-out, color 0.2s ease-in-out;
	font-size: 1.05rem;
}

@media (max-width: 345px) {
	.singleCountry {
		padding-top: 2.5rem;
	}

	.singleCountry button {
		padding: 0.5rem 1.5rem;
		font-size: 1.02rem;
	}
}

.country:hover {
	transform: scale(1.03);
}

.country p {
	font-size: 0.9rem;
}

.country span {
	font-size: 0.875rem;
}
